{%extends "base.html"%}
{%block header%} Peeps {%endblock%}
{%block main%}
{% if session['logged_in'] %}
<div>
    <table>
        <th>
            ID
        </th>
        <th>
            First
        </th>
        <th>
            Last
        </th>
        <th>
            Email
        </th>
        {%for i in output%}
            <tr>
                <td>
                    {{i.id}}
                </td>
                <td>
                    {{i.first_name.title()}}
                </td>
                <td>
                    {{i.last_name.title()}}
                </td>
                <td>
                    {{i.email}}
                </td>
            </tr>
        {%endfor%}
    </table>
</div>
{% else %}
    <div>
        Try logging in...
        <br>
        <span class="emoji">
            🍰
        </span>
    </div>
{% endif %}
{%endblock%}